.layout {
    padding: 10px;
    text-align: center;
}

.display{
    display: flex;
    justify-content: space-between;
}

mat-card{
    width: 30%;
    text-align: center;
}

.cardlayout{
text-align: center;
}