mat-card{
    width: 100%;
    height: auto;
}

#tableMemo {
    width: 100%;
}

#buttons {
    text-align: center;
}

#titles {
    text-align: center;
}

#tableoverflow{
    height: 300px;
    overflow: auto;
}