.combine {
    display: flex;
    justify-content: center;
}

.layout {
    display: flex;
}

.form-layout {
    width: 50%;
    padding: 10px;
}

.form-input {
    padding: 5px;
    text-align: center;
}

.form-inputbox1 {
    padding: 10px;
    text-align: center;
}

.add-button {
    text-align: center;
}

.table-layout{
    width: 50%;
    padding: 10px;
}

table.mat-table {
    width: 90%;
}