<div class="layout">
  <div class="card-layout" *ngFor="let num of allTableData">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Table No : {{num.tableNo}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p><strong>Total Price : </strong><strong>{{num.Total_Price}}</strong></p>
        <!-- <table id="memotable" mat-table [dataSource]="num.Dishes" class="mat-elevation-z8">
    
          <ng-container matColumnDef="Dish">
            <th mat-header-cell *matHeaderCellDef> <strong>Dish</strong></th>
            <td mat-cell *matCellDef="let element">{{element.dish}}</td>
            <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
          </ng-container>

          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> <strong>Quantity</strong></th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> <strong>Price</strong></th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
            <td mat-footer-cell *matFooterCellDef> <strong>{{num.Total_Price}}</strong></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displaycoloumn;"></tr>
          <tr mat-row *matRowDef="let row; columns: displaycoloumn;"></tr>
          <tr mat-footer-row *matFooterRowDef="displaycoloumn"></tr>
        </table> -->
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="pay-cancelbtn">
        <div><button id="pay" mat-raised-button color="success" (click)="openDetails(num)">Pay</button></div>
        <div><button id="cancel" mat-raised-button color="warn">Cancel</button></div>
      </mat-card-actions>
    </mat-card>
  </div>


</div>