.layout {
    height: 100%;
    padding: 20px;
    // text-align: center;
}

.tableView {
    margin-top: 5px;
}

table.mat-table {
    width: 100%;
}

.form-layout {
    text-align: center;
    margin: 5px;
}

.form-input{
    margin: 5px;
}

.form-flex{
    display: flex;
    justify-content: center;
}